body{
    margin:0;
}
.menuBar ul {
    list-style: none;
}
.menuBar a {
    text-decoration: none;
}

.menuBar li {
    float: right;
    padding: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    margin: 10px;
}
section{
    height:730px;
    
}
p{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    padding-bottom: 20px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size:80px;
    font-weight: 500;
    letter-spacing: -3px;
    margin-bottom: 0px;
}
h3{
    font-family: 'Bebas Neue';
    font-size: 36px;
    color: #696363;
    font-weight: 500;
    margin-bottom: 10px;
}
.introDesc span {
    color: lightsalmon;
}
.linkButton{
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 30px;
    font-family:'Roboto', sans-serif;
    color:white;
    border-radius: 5px;
    text-decoration: none;
}
.singleIntro{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    
}
.introDesc{
    margin-bottom: 100px;
}
img{
    width:50%;
    
}
.project{
    clear:left;
    background-color: rgb(249 248 248);
}
.project h1 {
    font-size: 40px;
    letter-spacing: 0.12px;
    font-weight: 500;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;font-size: 40px;
    
}
.project span{
    color:lightsalmon;
}
.singleProject {
    width: 340px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    background-color: white;
    border-radius: 15px;
    padding: 15px;width: 340px;
    

}
.singleProject h3 {
    font-family: 'Roboto';
    font-size: 25px;
    color: #252424;
    font-weight: 600;
    margin-bottom: 10px;
}
.singleProject img {
    width: 100%;
}
.inquiry{
    background: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    height:165px;
    margin:auto;
    margin-top: 70px;
   
}
.inquiry h3{
    float: left;
    color: white;
    margin: 58px;
}
.inquiry a{
    float:right;
    margin: 55px;
    padding: 15px 20px;
    font-family: 'Roboto';
    font-size: 15px;
}
.footer{
    width: 25%;
    height:165px;
    margin:auto;
    margin-top: 70px;
    text-align: center;
}
.footer h3 {
    font-family: 'Roboto';
    font-size: 25px;
    color: #565252;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer h4 {
    font-family: 'Bebas Neue';
    font-size: 19px;
    font-weight: 500;
    color: gray;
}
.footerIcon img {
    float: left;
    width: 10%;
    padding: 10px;
    margin: 0px;
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfWidth img{
    width:100%
}
.support {
    margin: 0px 55px;
    border: 1px solid #e0d7d7f7;
    border-radius: 15px;
    box-shadow: 10px 10px 40px;
}
.support h1 {
    font-size: 50px;
    font-family: 'Roboto';
    text-align: center;
}
.support h3 {
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
}
.support h5 {
    font-size: 20px;
    font-family: 'Roboto';
    margin-bottom: 5px;
}
.support p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 5px;
    padding: 2px;
}